body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: scroll;
    background-color: darkslategrey;
  }
  .topnav .login {
      float: right;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-topnav: 16px
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  .topnav img {
    float: left;
    padding: 3px 1px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    width: 4%;
    height: auto;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    background-color: darkcyan;
    color: white;
  }

  .botnav {
      overflow: scroll;
      background-color: #333;
      position: fixed;
      bottom: 0;
      width: 100%;
  }

  .botnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  .botnav a:hover {
      background: #f1f1f1;
      color: black;
  }
  
  .botnav img {
    float: left;
    padding: 7px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    width: 4%;
    height: auto;
  }