<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>
            StudentConnect -
            {% block title_block %}
                Home
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="topnav">
            <img src="logo.png" alt="Logo">
            <a class="active" href="{% url 'StudentConnect:Home' %}">Home</a>

            <a href="{% url 'StudentConnect:myAccount' %}">My Account</a>
            <a href="{% url 'StudentConnect:myMatches' %}">My Matches</a>
            <a class="login" href="{% url 'StudentConnect:Login' %}">Login</a>
        </div>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>

<!--        <div style="padding-left:16px">-->
<!--            <h2>Page example</h2>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
<!--                Integer gravida sodales tempor. Sed imperdiet nunc nunc. Aliquam -->
<!--                porttitor dapibus nulla. Donec a lacus in nisi mollis pellentesque.-->
<!--            </p>-->
<!--        </div>-->

        <div class="botnav">
            <img src="logo.png" alt="Logo">
            <a href="#help">Help?</a>
        </div>


    </body>
</html>


<!--//TRYING-->
<!--<ion-icon name="logo-instagram"></ion-icon>-->
<!--<ion-icon name="logo-instagram"></ion-icon>-->
<!--<ion-icon name="logo-twitter"></ion-icon>-->
<!--<ion-icon name="logo-discord"></ion-icon>-->


<!--//SHOULD BE WITHIN BODY-->
<!--<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>-->
<!--<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>-->
