<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap link to css code -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        

        <title>
            StudentConnect -
            {% block title_block %}
                Home
            {% endblock %}
        </title>
    </head>
    <body>
        
        <!-- Top nav bar -->
        <nav class="navbar navbar-expand-sm bg-secondary">
        	<img src="{{ MEDIA_URL}}logo.png" alt="Logo" width=4% height=auto>
        	
	            {% if user.is_authenticated %}
	            <div>
	            <button type="button" class="btn btn-info navbar-btn"><a class="nav-link text-white" href="{% url 'StudentConnect:Home' %}">Home</a></button>
	            <button type="button" class="btn btn-info navbar-btn"><a class="nav-link text-white" href="{% url 'StudentConnect:myAccount' %}">My Account</a></button>
	            <button type="button" class="btn btn-info navbar-btn"><a class="nav-link text-white" href="{% url 'StudentConnect:myMatches' %}">My Matches</a></button>
	            </div>
	            <div class="ml-auto">
	            <span class="navbar-text">Welcome back to Student Connect {{ user.username }}</span>
	            <button type="button" class="btn btn-info navbar-btn"><a class="nav-link text-white" href="{% url 'StudentConnect:logout' %}">Logout</a></button>
	            </div>
	            {% else %}
	            <button type="button" class="btn btn-info navbar-btn"><a class="nav-link text-white" href="{% url 'StudentConnect:Home' %}">Home</a></button>
	            <div class="ml-auto">
	            <button type="button" class="btn btn-info navbar-btn"><a class="nav-link text-white" href="{% url 'StudentConnect:login' %}">Login</a></button>
            	</div>
            	{% endif %}
           </nav>

        <div class="container-fluid">
            {% block body_block %}
            {% endblock %}
        </div>

        <!--Bottom Navbar -->
        <nav class="navbar navbar-expand-sm bg-secondary navbar-fixed-bottom">
        	<img src="{{ MEDIA_URL}}logo.png" alt="Logo" width=4% height=auto>
            <a class="text-white nav-link" href="{% url 'StudentConnect:Help' %}" >Help?</a></button>
        </nav>

        <!-- Bootstrap implementation code -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

