{% extends 'StudentConnect/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Forgot Password
{% endblock %}

{% block body_block %}
    <h1>Forgot Password? Retrieve it here!</h1>

    {% if submit_newPassword %}
        <h2>Password Successfully Changed! <a href="{% url 'StudentConnect:login' %}">Try to Login</a></h2>
    {% elif correct_answer %}
         <form id="'newPass_form" method="POST" action="{% url 'StudentConnect:forgotPassword' %}">
            {% csrf_token %}
            <h2>Correct Answer! User {{ username }} can now reset their password: </h2>
            New Password: <input type="password" name="new_password" value="" size="50" />
            <button type="submit" value="Submit" name="submit_newPassword">Submit</button>
         </form>

    {% elif user_exists%}
    <h2>User {{ username }} exists. Please give the answer to your answer your security question: </h2>
    <form id="student_form" method="POST" action="{% url 'StudentConnect:forgotPassword' %}">
        {% csrf_token %}
        <p>Security Question: {{ user_q }}</p>
          Answer: <input type="text" name="security_answer" value="" size="50" />
        <br />
        {% if wrong_answer %}
            <p>Wrong Answer! Try again...</p>
        {% endif %}
        <button type="submit" value="Submit" name="submit_answer">Submit</button>
    </form>

     {% else %}
     <form id="userpass_form" method="POST" action="{% url 'StudentConnect:forgotPassword' %}">
        {% csrf_token %}
          Username: <input type="text" name="username" value="" size="50" />
        <br />
         {% if user_notExists %}
            <p>User doesn't exist! Try Again, or <a href="{% url 'StudentConnect:Signup' %}">Sign Up</a></p>
        {% endif %}
         <button type="submit" value="Submit" name="submit_user">Submit</button>
    </form>
    {% endif %}
{% endblock %}