{% extends 'StudentConnect/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Help
{% endblock %}

{% block body_block %}
<h1>Help &amp; FAQ</h1>
<h4><span style="color: #008080;">What is StudentConnect?</span></h4>
<p>StudentConnect is a plarform to help students in Glasgow connect with eachother!</p>
<h4><span style="color: #008080;">How do I sign up?</span></h4>
<p>You can <a href="{% url 'StudentConnect:register' %}" target="_blank">sign up here</a>.
    You will be prompted to answer a few simple questions, and we will match you with other students!</p>
<h4><span style="color: #008080;">I forgot my password! What should I do?</span></h4>
<p>You can request a password reset on our <a href="{% url 'StudentConnect:login' %}">login</a> page.</p>

{% endblock %}