{% extends 'StudentConnect/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
	<h1 class="">Welcome to Student Connect</h1>
	<div class="w-25 p-3 float-left">
    	<p> StudentConnect is a fun fast way to find like minded students 
    		that are close to you! Answer a series of questions and match with
    		other students who think the same. You can even find out where the
    		union is to your matches and meet them in person! <Strong>Register with 
    		StudentConnect today and start matching!</Strong>
    	</p>
    </div>
    <div class="float-right">
    	<img src="{{ MEDIA_URL}}logo.png" alt="Logo" width=80% height=auto>
    </div>
    <div class="container float-left">
	{% if not user.is_authenticated %}
    <button type="button" class="btn btn-info btn-lg"><a class="text-white" href="{% url 'StudentConnect:register' %}">Register</a></button>
    <button type="button" class="btn btn-info btn-lg"><a class="text-white" href="{% url 'StudentConnect:Login' %}">Login</a></button>
	{% else %}
	<button type="button" class="btn btn-info btn-lg"><a class="text-white" href="{% url 'StudentConnect:register' %}">Find my Matches!</a></button>
    {% endif %}
	</div>
{% endblock %}