{% extends 'StudentConnect/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <p> Login Here! </p>
    <form id="login_form" method="post" action="{% url 'StudentConnect:login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>

    <p> Forgot Password?<a href="{% url 'StudentConnect:forgotPassword' %}">Click here!</a> </p>

{% endblock %}