
{% extends 'StudentConnect/profileBase.html' %}
{% load staticfiles %}

{% block title_block %}
    My Account
{% endblock %}

{% block headline_block %}
    <h1 class="">My Account</h1>
{% endblock %}
{% block profile_block %}
    <div class="container-fluid p-3 float-left">
        <a class="text-white" href="{% url 'StudentConnect:editMyAccount' %}"><button type="button" class="btn btn-info btn-lg">
            Edit Information
        </button></a>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}