{% extends 'StudentConnect/base.html' %}

{% load staticfiles %}



{% block title_block %}

    My Matches

{% endblock %}



{% block body_block %}

<!--    <meta http-equiv="X-UA-Compatible" content = "IE=edge">-->
    <h1 class="">Matches:</h1>
    <ul class="lead">
        {% for match in userInfo.matches.all %}

        <li><a href="{% url 'StudentConnect:otherProfiles' match.user.username %}"><strong>{{ match }}</strong></a></li>
        {% empty %}
        <li>Oh no you have no matches! You might have not answered the questions or need to reload the page!</li>
        <button type="button" class="btn btn-info btn-lg">
            <a class="text-white" href="{% url 'StudentConnect:findMatches' %}">
                Click here to find your Matches!
            </a>
        </button>
        {% endfor %}

    </ul>




    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



{% endblock %}