{% extends 'StudentConnect/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="float-left">
    {% block headline_block %}
    {% endblock %}
        <ul class="lead">
            <li>Forename: {{ userInfo.forename }}</li>
            <li>Surname: {{ userInfo.surname }}</li>
            <li>Date of Birth: {{ userInfo.date_of_birth }}</li>
            <li>City: {{ userInfo.city }}</li>
        
        
        {% if userInfo.bio %}
            <li>Bio: {{ userInfo.bio }}</li>
        {% endif %}</ul>
        {% if userInfo.instagram_username %}
            <a href="https://instagram.com/{{ userInfo.instagram_username }}" class="float-left" target="_blank">
                <ion-icon name="logo-instagram" size="large"></ion-icon>
            </a>
        {% endif %}
        {% if userInfo.facebook_username %}
            <a href="https://facebook.com/{{ userInfo.facebook_username }}" class="float-left" target="_blank">
                <ion-icon name="logo-facebook" size="large"></ion-icon>
            </a>
        {% endif %}


    </div>

        {% if userInfo.picture %}
            <img src="{{ MEDIA_URL }}{{ userInfo.picture }}" alt="Profile pic" width=33% height=auto style="vertical-align:middle;margin:15px 50px;">
        {% else %} 
            <img src="{% static 'images/blankProfile.png' %}" alt="Profile pic" width=30% height=auto style="vertical-align:middle;margin:15px 50px;">
        {% endif %}
        <p class="pad"> </p>
        <h3 class="">University of {{userInfo.city}} Union</h3>

         <!--- google maps link --->
                <div class="col-md-5 ">

                    <div class="ratio ratio-1x1">
                        <iframe
                           width="600"
                           height="450"
                           loading="lazy"
                           allowfullscreen
                           referrerpolicy="no-referrer-when-downgrade"
                          src= "https://www.google.com/maps/embed/v1/place?key=AIzaSyAxJa_f1f5FhqyY_JhZ42JBijy4dXNgGQA&q=University+of+{{userInfo.city}}+union">
                        </iframe>
                    </div>
                </div>

    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% block profile_block %}
    {% endblock %}
{% endblock %}